/Inheritance/__pycache__/
/firstwebdjango/firstwebdjango/__pycache__/
/firstwebdjango/.idea/
/firstwebdjango/templates/__pycache__/
/firstwebdjango/persons.db
/firstwebdjango/firstwebdjango/LiskovSubsitutePrinciple/__pycache__/
/firstwebdjango/firstwebdjango/InterfaceSegregation/__pycache__/
/firstwebdjango/firstwebdjango/DependencyInversionPrinciple/__pycache__/
/firstwebdjango/category/__pycache__/
/firstwebdjango/category/migrations/__pycache__/
